.alerta{
  padding: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.alerta.error{
  background-color: rgb(254 226 226);
  border-left: 4px solid rgb(248 113 113);
  color: rgb(185 28 28);
}

.alerta.exito{
  background-color: rgb(220 252 231);
  border-left: 4px solid rgb(74 222 128);
  color: rgb(21 128 61);
}