.padre{
  display: flex;
  flex-direction: column;
  margin-block: 10rem;
}

@media (min-width: 768px) {
  .padre{
    flex-direction: row;
  }
}

.contacto{
    background-image: linear-gradient(to bottom, var(--primario) 50%, var(--secundario) 100%);
    padding: 3rem;
    border-radius: .5rem;
}

@media (min-width: 768px) {
  .contacto{
    background-image: linear-gradient(to right, var(--primario) 50%, var(--secundario) 100%);
    width: 60%;
    margin: 0 5rem;
    border-radius: unset;
    border-bottom-left-radius: 15rem;
    padding: 6rem 3rem;
  }
}

.contacto > a{
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .contacto > a:last-child{
    text-align: left;
  }
}

@media (min-width: 992px) {
  .contacto > a{
    margin-top: 3rem;
    opacity: .8;
    transition-property: opacity;
    transition-duration: .3s;
  }
  
  .contacto > a:hover{
    opacity: 1;
  }
}

.grid{
    display: grid;
    gap: 3rem;
    align-items: center;
}

@media (min-width: 768px) {
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

.texto{
    text-align: center;
    color: var(--blanco);
}

@media (min-width: 768px) {
 .texto{
    text-align: start;
    color: var(--negro);
 } 
}

.texto h3{
    font-size: 3rem;
    color: var(--blanco);
    font-weight: normal;
}

.texto span{
    display: block;
    font-weight: bold;
}

.email,
.flex{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.flex{
  gap: 2rem;
}

.flex a{
  transform: scale(1.5);
  transition-property: scale;
  transition-duration: .3s;
}

.flex a:hover{
  transform: scale(1.7);
}

@media (min-width: 768px) {
  .email{
    justify-content: start;
  }
}

.email p{
    font-size: 1.6rem;
}

/* Formulario contacto */
.formulario{
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: .5rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .formulario{
    margin-top: -7rem;
    margin-left: -7rem;
    margin-bottom: 5rem;
  }
}

.campo{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.campo label{
  font-size: 1.6rem;
  font-weight: bold;
}

.campo label:not([for=celular]):after {
  content: '*';
  display: inline-block;
  margin-left: .6rem;
  margin-top: .6rem;
  color: red;
  font-size: 2.3rem;
  font-weight: bold;
  vertical-align: middle;
}

.campo input{
  padding: 1rem;
  outline: none;
  border-width: 1px;
  border-radius: .3rem;
  font-size: 1.4rem;
}

.campo input::placeholder,
.campo textarea::placeholder{
  color: rgb(153, 153, 153);
}

.campo textarea{
  outline: none;
  font-family: 'Roboto', sans-serif;
  padding-left: 1rem;
  padding-top: 1rem;
  min-height: 15rem;
  font-size: 1.4rem;
}

.formulario input[type=submit]{
  all: unset;
  display: block;
  text-align: center;
  width: calc(100% - 20px);
  background-color: var(--primario);
  padding: 1rem;
  border-radius: .4rem;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  transition-property: background-color;
  transition-duration: .3s;
}

@media (min-width: 768px) {
  .formulario input[type=submit] {
    width: auto;
    margin-left: auto;
    padding: 1rem 2rem;
  }
}

.formulario input[type=submit]:hover{
  cursor: pointer;
  background-color: var(--secundario);
}