.header{
  background-image:  linear-gradient(to right, rgb(0 0 0 /.8), rgb(0 0 0 /.8)), url(/img/header.jpg);
  background-position: center right;
  padding-block: 2rem;
}

@media (min-width: 768px) {
  .header{
    background-position: center center;
  }
}

.wrapper{
  height: 90vh;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

@media (min-width: 768px) {
  .flex{
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

.navegacion{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .navegacion{
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }
}

.navegacion a{
  font-size: 1.8rem;
  color: var(--blanco);
  padding: 1rem;
  border-radius: .4rem;
  transition-property: background-color color;
  transition-duration: .3s;
}

@media (min-width: 768px) {
  .navegacion a{
    padding: 0;
  }
}

.navegacion a:hover{
  background-color: var(--secundario);
  color: var(--blanco);
}

@media (min-width: 768px) {
  .navegacion a:hover{
    background-color: unset;
  }

  .navegacion a::after{
    content: '';
    display: block;
    height: .6rem;
    width: 0;
    background-color: var(--secundario);
    margin-top: .2rem;
    transition-property: width;
    transition-duration: .3s;
    transition-timing-function: ease-in;
  }
  
  .navegacion a:hover::after{
    width: 100%;
  }
}

.grid{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  color: var(--blanco);
}

@media (min-width: 768px) {
  .grid{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
  }
}

.grid > div{
  margin-top: 2rem;
  text-align: center;
}

.grid > div > p{
  font-size: 3rem;
  margin-top: 2rem;
}

.grid > p{
  display: inline-block;
  font-size: 20rem;
  color: transparent;
  background: linear-gradient(to right, #F16529 0%, #F16529 38%, #61DBFB 36%, #61DBFB 55%,
   #F7DF1E 70%, #F7DF1E 100%);
  background-clip: text;
  -webkit-background-clip: text;
}