.tabla{
  background-color: var(--secundario);
  padding-block: 7rem;
  color: var(--blanco);
  margin-bottom: 2rem;
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5rem;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .flex{
    flex-direction: row;
  }
}

.categoria p:first-child{
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.categoria p:nth-child(2) {
  font-size: 2rem;
}