.contenedor{
  margin-top: 2rem;
}

.contenedor ul{
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  background-color: var(--blanco);
}

.contenedor ul > li {
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: .3rem;
  transition-property: background-color;
  transition-duration: .3s;
}

.active {
  padding: 1rem;
  border-radius: .3rem;
  background-color: red;
}

.contenedor ul > li:hover,
.contenedor ul > li.active {
  background-color: var(--primario);
  cursor: pointer;
  font-weight: bold;
}

.contenido{
  position: relative;
  min-height: 70rem;
}

.contenido > div{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .4s;
  width: 100%;
}

.contenido .contenidoActivo{
  opacity: 1;
  z-index: 100;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 3rem;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

@media (min-width: 768px) {
  .grid{
    grid-template-columns: repeat(2, 1fr);
    overflow-x: hidden;
  }
}

@media (min-width: 992px) {
  .grid{
    grid-template-columns: repeat(3, 1fr);
  }
}